# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor and IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Logs and backup files
*.log
*.bak
*.backup

# Python environment variables
.env

# Temporary files
*.tmp

# Miscellaneous
*.swp
